@import 'tailwindcss';

@theme {
  --font-heading: 'Space Grotesk', sans-serif;
  --font-body: 'Archivo', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: #fafafa;
  color: #09090b;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: 1.2;
}
